@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --background: #ffffff;
    --bege-claro: #F8F5F1;
    --dourado: #D1A954;
    --verde-oliva: #7C8067;
    --cinza-areia: #E3E0DC;
    --preto-carvao: #2D2D2D;
    --zap: #128c7e;
    --azul-titulo: #223c52;
    --verde-pix: #38c958;
    --verde-valor: #06cb3f;
    --vermelho-curtir: #800020;
    --preto-btn: #1b1b1b;
    --sombra: 0 5px 15px rgba(0, 0, 0, 0.1);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--verde-oliva);
}

.btn-default {
    background-color: var(--preto-carvao);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: var(--dourado);
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-default:hover {
    background-color: var(--preto-btn);
}
a {
    text-decoration: none;
    color: inherit;
}   

#form_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    background-color: var(--bege-claro);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--sombra);    
}

#form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form_title {
    font-weight: 500;
    color: var(--preto-carvao);
    position: relative;
}

#form_title::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 30px;
    background-color: var(--dourado);
    left: 0;
    bottom: 0;
}

#form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
    height: 100%;
}

#input_container {
    display: grid;
    gap: 24px;
}

.form-label {
    font-size: 12px;
    color: var(--preto-carvao);
    font-weight: 500;
}

.input-field {
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: var(--sombra);
}

.input-field i {
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    color: #404044;
}

.form-control {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
}

.input-field .password-icon:hover {
    cursor: pointer;
    color: var(--dourado);
}

.form-control:focus {
    outline: none;
}

.input-box .input-field:focus-within {
    outline: 2px solid var(--dourado);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    color: #000;
}

.radio-container {
    grid-column: span 2;
}

#gender_inputs {
    display: flex;
    gap: 20px;
}

.radio-box {
    display: flex;
    gap: 4px;
    align-items: center;
}

.form-control[type="radio"] {
    accent-color: #6366f1;
}

@media screen and (max-width: 500px){
  #form_container{
    width: 100%;
    min-height: 100vh;
    padding: 32px;
  }

  #input_container{
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  .form-control[type="date"] {
    background-color: #fff;
  }
}